.filterForm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
  background-color: #fff;
}

.filterForm p {
  margin: 0 0 8px 0;
}

.filterForm input {
  width: 80%;
  padding: 4px;
}
