.containerForm {
  width: 400px;
  margin: 10px auto;
}

/* .filterForm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
  background-color: #fff;
} */
